html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: midnightblue;
    display: block;
    width: 100%;
}

body {
    background-color: rgb(203, 220, 244);
}

h1 {
    color: white;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 50px;
    width: auto;
}

ul {
    text-align: center;
}

ul > li {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 50px;
}

.header-nav-elements {
    color: midnightblue;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: white;
    border: 20px solid white;
    border-radius: 50px;
    margin: 50px;
    opacity: .8;
}

.header-nav-elements:hover {
    transition-duration: .8s;
    opacity: 1;
}

main {
    display: inline-block;
    color: midnightblue;
}

h2 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-left: 50px;
}

.about-me-section {
    width: 100%;
    height: 500px;
    margin-bottom: 5%;
    margin-top: 5%;
}

#about-me {
    display: inline-block;
    float: left;
    border-right: 5px solid goldenrod;
    height: 500px;
    width: 500px;
    padding-right: 2%;
}

#about-me-image {
    display: inline-block;
    width: auto;
    height: 500px;
    border: 5px solid midnightblue;
    margin-left: 100px;
   border-radius: 20px;
}

#about-me-p {
    color: rgb(223, 234, 249);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    background-color: midnightblue;
    border: 50px solid midnightblue;
    border-radius: 20px;
    display: inline-block; 
    float: right;
    width: 50%;
    margin-right: 150px;
    margin-top: 60px;
}

.work-section {
    display: block;
    width: 100%;
    height: 500px;
    margin-bottom: 5%;
    margin-top: 5%;

}

#work {
    display: inline-block;
    float: left;
    border-right: 5px solid goldenrod;
    height: 500px;
    width: 500px;
    padding-right: 150px;
}

#first-project-container {
    display: inline-block;
    width: 900px;
    height: 500px;
    margin-left: 100px;
    opacity: .5;
    text-decoration: none;
}

#first-project-container:hover {
    opacity: 1;
    transition-duration: .8s;
}

#work-image-one {
    display: inline-block;
    width: 900px;
    height: 500px;
    border: 10px solid midnightblue;
    border-radius: 20px;
}

#first-project-text {
    width: 225px;
    height: 50px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color:  rgb(223, 234, 249);
    background-color: midnightblue;
    padding-left: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    bottom: 500px;
    left: 10px;
}


#work-image-two {
    display: inline-block;
    position: relative;
    bottom: 260px;
    left: 15px;
    width: 35%;
    height: 240px;
    border: 10px solid midnightblue;
    border-radius: 20px;
    opacity: .5;
}

#work-image-two:hover {
    opacity: 1;
    transition-duration: .8s;
}

#work-image-three {
    display: inline-block;
    position: relative;
    bottom: 245px;
    left: 1558px;
    width: 35%;
    height: 240px;
    margin-right: 100px;
    border: 10px solid midnightblue;
    border-radius: 20px;
    opacity: .5;
}

#work-image-three:hover {
    opacity: 1;
    transition-duration: .8s;
    
}

.contact-me-section {
    display: block;
    width: 100%;
    height: 500px;
    margin-bottom: 5%;
    margin-top: 5%;
}

#contact-me {
    display: inline-block;
    float: left;
    border-right: 5px solid goldenrod;
    height: 500px;
    width: 500px;
    padding-right: 150px;
}

#contact-information-phone {
    display: inline-block;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 100px;
    top: 240px;
}

#contact-information-email {
    display: inline-block;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 200px;
    top: 240px;
}

/* Website Effects Below */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }

  ::-webkit-scrollbar-thumb {
    background: goldenrod; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: gold; 
  }

