header {
    background-color: rgb(51, 87, 130);
    display: block;
    position:absolute;
    top: 0%;
    left: 0%;
    right: 0%;
}

body {
    background-color: rgb(214, 239, 255);
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration-line: underline;
}

ul {
    text-align: center;
}

ul > li {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
}

a {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

main {
    display: block;
    color: rgb(0, 43, 96);
}

h2 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-left: 50px;
}

.about-me {
    margin-top: 500px;
    margin-bottom: 400px;

}

.am-p {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 1000px;
    bottom: 200px;
    right: 100px;


}