header {
    background-color: rgb(51, 87, 130);
    display: block;
    position:absolute;
    top: 0%;
    left: 0%;
    right: 0%;
}

body {
    background-color: rgb(214, 239, 255);
}

h1 {
    color: rgb(214, 239, 255);
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration-line: underline;
}

ul {
    text-align: center;
}

ul > li {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
}

a {
    color: rgb(51, 87, 130);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: rgb(214, 239, 255);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 50px;
}

main {
    display: block;
    color: rgb(0, 43, 96);
}

h2 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-left: 50px;
}

.about-me {
    margin-top: 500px;
    width: 450px;
    height: 725px;
    border-right: 5px solid rgb(0, 43, 96);
    margin-bottom: 200px;

}

.about-me-image {
    position: absolute;
    left: 600px;
    bottom: 100px;
    width: auto;
    height: 500px;
    border: 5px solid rgb(0, 43, 96);
}

.about-me-p {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 1100px;
    bottom: 285px;
    right: 300px;
}

.work {
    border-right: 5px solid rgb(0, 43, 96);
    width: 450px;
    height: 500px
}

.contact-me {
    border-right: 5px solid rgb(0, 43, 96);
    width: 450px;
    height: 500px
}

